/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #4ecca3 #232931;
    font-family: 'PT Sans', sans-serif;
}
html {
    --scrollbarBG: #232931;
    --thumbBG: #4ecca3;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

.main {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}
  
/* Home Screen */
/* Animated Background styles by Frank's Laboratory. See more in script.js */
#canvas {
    position: absolute;
    min-height: 106vh;
    top: 0; left: 0;
    width: 100%;
    background-color: #232931;
    z-index: -1;
}

.Home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container-home{
    width: 50%;
    font-size: 3rem;
    color: #dfdfdf;
    height: 100%;
    padding-left:0px;
    padding-top: 300px;
}

.home-text{
    display: grid;
    text-align: left;
}

.container-home h1 {
    font-family: 'Orbitron', sans-serif;
}

.name {
    font-family: 'Orbitron', sans-serif;
    color: #4ecca3;
    font-size: 6rem;
}

.job {
    font-size: 3rem;
}

.down{
    margin-top: 2rem;
}

.fa-chevron-down{
    /* color: #dfdfdf !important; */
    animation: fill 10s infinite;
}

.fa-chevron-down:hover {
    color: #4ecca3 !important;
}

@keyframes fill{
    0%{color: #dfdfdf;}
    25%{color: #4ecca3;}
    50%{color: #dfdfdf;}
    75%{color: #4ecca3;}
    100%{color: #dfdfdf;}
}

/* Navigation */
.nav-link {
    font-size: 1.0em !important;
    color: #dfdfdf;
}
.nav-link:hover{
    animation: nav-hover .75s;
    animation-fill-mode: forwards;
}

.sticky{
    background-color: #3b3f46;
}

@keyframes nav-hover{
    0%{color: #dfdfdf;}
    100%{color: #4ecca3;}
}
/* About Me */
.about{
    min-height:100vh;
    color: #dfdfdf;
    background-color: #232931;
}

.about-column{
    padding-top: 100px;
    margin: auto;
    width: 50%;
}

.about-text{
    margin: 100px auto 0px;
    text-align: left;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
}

.about-text:after{
    content:"";
    display:block;
    width: 250px;
    height:4px;
    background: #4ecca3;
    position: absolute;
    right: 200px;
    top:50%;
}

.about-languages {
    color: #dfdfdf;
}

.profile{
    margin: auto 0;
}

.about-me-info {
    padding-top: 100px;
    background-color: #232931;
    margin: 0 auto;
    z-index: 1;
    font-size: 1.25rem;
}
.about-me-info ul {
    padding: 0 3vw;
}
.about-me-color, .about-me-info ul li {
    color: #4ecca3;
}

.TAMU {
    color: #dfdfdf;
    text-decoration: none;
    cursor: none;
}

.TAMU:hover{
    color:rgb(80, 0, 0);
    text-decoration: none;
}

/* Portfolio Projects */
.project {
    background-color: #232931;
    min-height: 100vh;
    color: #dfdfdf;
}

.project-text {
    text-align: center;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
}

.project-text:before {
    content:"";
    display:block;
    width: 250px;
    height:4px;
    background: #4ecca3;
    position: absolute;
    left: 400px;
    top:50%;
}

.project-text:after {
    content:"";
    display:block;
    width: 250px;
    height:4px;
    background: #4ecca3;
    position: absolute;
    right: 400px;
    top:50%;
}

.card {
    margin: 10px auto;
    height: 400px;
    width: 400px;
    background-color: #29313b;
    transition: top ease 0.5s;
}

.link {
    position: absolute;
    top: 25px;
    right: 20px;
}

.card h5{
    color: #4ecca3;
    font-size: 1.5rem;
}

.card-languages{
    position: absolute;
    bottom: 0;
    left: 10;
    color: #54585f;
}

.card-body a {
    display: grid;
    margin-bottom: 0px;
    margin-top: auto;
    color: #4ecca3;
    text-decoration: none;
    font-weight: 300;
}
.card-body a:hover {
    border-radius: 5rem;
    padding: 5px 10px;
    border: 1px solid #4ecca3;
}
.myBtnContainer{
    margin-bottom: 10px;
}

.myBtnContainer button {
    padding: .5vw 3vw;
    font-weight: 500;
}

.myBtnContainer button:hover {
    color: black;
    background-color: #4ecca3
}

.my-active {
    border: 3px solid #4ecca3;
    /* background-color: #4ecca3; */
}

/* Contact */
.contact {
    background-color: #232931;
    min-height: 100vh;
}

.contact-text {
    padding-top: 10px;
    text-align: center;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
    z-index: 0;
}

.contact-text:before {
    content:"";
    display:block;
    width: 250px;
    height:4px;
    background: #4ecca3;
    position: absolute;
    left: 400px;
    top:50%;
}

.contact-text:after {
    content:"";
    display:block;
    width: 250px;
    height:4px;
    background: #4ecca3;
    position: absolute;
    right: 400px;
    top:50%;
}
.my-email:hover {
    color: #4ecca3;
    cursor: none;
}

.contact-info{
    color: #dfdfdf;
    /* background-color: #252627; */
    border: 3px solid #4ecca3;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons{
    padding: 25px 0 0;
}

.icons a{
    color: #dfdfdf;
    text-decoration: none;
}

.fa-linkedin {
    margin-right: 15px;
}

.fa-linkedin:hover, .fa-github-square:hover  {
    color: #4ecca3;
    cursor: pointer;
}
.contact-form{
    background-color: #232931;
    border: 3px solid #707070;
    color: #dfdfdf;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    width: 80%;
}

.contact-submit {
    background-color: #232931;
    border: 3px solid #707070;
    color: #4ecca3;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

input[type=submit]:hover{
    border: 3px solid #4ecca3;
}


input[type=text]:focus, textarea:focus {
    border: 3px solid #4ecca3;
}



/* Footer */
.footer {
    background-color: #232931;
    border-top: 3px solid #4ecca3;
}

.footer p {
    padding: 25px 0 25px;
    margin: auto 0;
    text-align: center;
    color: #dfdfdf;
}

/* Thank You Page */

.thankyou-body {
overflow: hidden;
}

.thanks-container {
    /* background-color: #252627; */
    /* border: 5px solid #4ecca3; */
    border-radius: 2rem;
    /* box-shadow: 0 0 1.2rem rgba(0, 0, 0, 1); */
    box-shadow: inset 0 0 5000px rgba(0,0,0,.6);
    margin: 250px;
    font-size: 2vw;
    text-align: center;
    line-height: 2;
}

.thanks-title {
    color: #373a3f;
    text-shadow: 2px 0 0 #4ecca3, -2px 0 0 #4ecca3, 0 2px 0 #4ecca3, 0 -2px 0 #4ecca3, 1px 1px #4ecca3, -1px -1px 0 #4ecca3, 1px -1px 0 #4ecca3, -1px 1px 0 #4ecca3;
    z-index: 0;
}

.thanks-body {
    color: #dfdfdf;
    padding-bottom: 25px;
}

.return-btn {
    background-color: #232931;
    border: 3px solid #707070;
    color: #dfdfdf;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 22px;
}

.return-btn:hover{
    border-color: #4ecca3;
    color: #4ecca3;
    cursor: pointer;
}


#error-message {
    margin: 20px auto 10px;
    padding: 10px;
    color: #fe8b8e;
    border-radius: 10px;
    width: 77%;
    text-align: center;
    font-size: 20px;
    transition: all 1s ease;
}


/* Media Queries */
@media (max-width: 1110px) {
    
    /*HOME */

    .container-home{
        margin-left: 50px;
        margin-right: 50px;
    }


    .contact-info h3{
        font-size: 24px;
        text-align: center;
    }


    /* Thank You Page */

    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.5rem;
    }

    .return-btn {
        font-size: 21px;
    }
}


@media (max-width: 767px) {


    /* HOME */

    .container-home{
        margin: auto;
    }

    .container-home h1 {
        font-size: 2.5rem;
        margin: auto;
    }

    /* ABOUT */

    .about-me-info p , ul{
        font-size: 18px;
    }

    /* CONTACT */

    .contact-info {
        width: 60%;
        margin: auto;
    }

    .contact-info h3{
        font-size: 24px;
        text-align: center;
    }

    .contact-form {
        width: 70%;
        font-size: 12px;
    }
    
    #message {
        height: 300px;
    }

    .contact-submit {
        font-size: 15px;
    }

    #error-message {
        font-size: 15px;
        width: 66%;
    }
    /* Thank You Page */

    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.25rem;
    }

    .return-btn {
        font-size: 19px;
    }
}


@media (max-width: 576px) {

    /* MOBILE-HOME */

    .container-home{
        font-size: 3rem;
        padding: 2rem 0em 1rem;
        margin: 10px 50px 5px;
    }
    
    .container-home h1 {
        font-size: 2rem;
        margin: auto;
    }

    .down {
        font-size: 2rem;
    }

    /* MOBILE-ABOUT */

    .about-me-info p , ul{
        font-size: 16px;
        margin: auto 1rem;
    }

    /* MOBILE-CONTACT */

    .contact-info {
        width: 60%;
        margin: auto;
    }

    .contact-info h3{
        font-size: 20px;
        text-align: center;
    }

    .contact-form {
        width:70%;
    }

    #message {
        height: 300px;
    }
    
    .footer p {
        font-size: 13px;
    }

    /*Mobile-Thank You Page*/
    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.2rem;
    }

    .thanks-body p{
        font-size: 18px;
        padding-top: 20px;
    }
    .return-btn {
        font-size: 15px;
    }
}
