/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #4ecca3 #232931;
    font-family: 'PT Sans', sans-serif;
}
html {
    --scrollbarBG: #232931;
    --thumbBG: #4ecca3;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

.main {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}
  
/* Home Screen */
/* Animated Background styles by Frank's Laboratory. See more in script.js */
#canvas {
    position: absolute;
    min-height: 100vh;
    top: 0px; left: 0;
    width: 100%;
    background-color: #232931;
    z-index: -1;
}

.Home {
    width: 100%;
    min-height: 89vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container-home{
    font-size: 3rem;
    color: #dfdfdf;
    height: 100%;
    padding-left:10px;
    padding-top: 200px;
}

.home-text{
    display: grid;
    text-align: left;
}

.container-home h1 {
    font-family: 'Orbitron', sans-serif;
}

.name {
    font-family: 'Orbitron', sans-serif;
    color: #4ecca3;
    font-size: 6rem;
}

.job {
    font-size: 3rem;
}


@keyframes fill{
    0%{color: #dfdfdf;}
    25%{color: #4ecca3;}
    50%{color: #dfdfdf;}
    75%{color: #4ecca3;}
    100%{color: #dfdfdf;}
}

/* Navigation */
.nav-link {
    font-size: 1.0em !important;
    color: #dfdfdf;
}
.nav-link:hover{
    animation: nav-hover .75s;
    animation-fill-mode: forwards;
}

.sticky{
    background-color: #3b3f46;
}

@keyframes nav-hover{
    0%{color: #dfdfdf;}
    100%{color: #4ecca3;}
}
/* About Me */
.about{
    min-height:100vh;
    color: #dfdfdf;
    background-color: #232931;
}

.about-column{
    padding-top: 10px;
    margin: auto;
    width: 80%;
}

.about-text{
    margin: 100px auto 0px;
    text-align: center;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
}

.about-text:before {
  right: 0.5em;
  margin-left: -50%;
}

.about-text:after {
  left: 0.5em;
  margin-right: -50%;
}

.about-languages {
    color: #dfdfdf;
}

.profile{
    margin: auto 0;
}

.about-me-info {
    background-color: #232931;
    margin: 0 auto;
    z-index: 1;
    font-size: 1.25rem;
}
.about-me-info ul {
    padding: 0 3vw;
}
.about-me-color, .about-me-info ul li {
    color: #4ecca3;
}

.TAMU {
    color: #dfdfdf;
    text-decoration: none;
    cursor: none;
}

.TAMU:hover{
    color:rgb(80, 0, 0);
    text-decoration: none;
}

/* Portfolio Projects */

.matrix{
    margin: auto 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}

.project {
    background-color: #232931;
    min-height: 100vh;
    color: #dfdfdf;
}

.project-text {
    padding-top: 70px;
    text-align: center;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
}

.card {
    margin: 10px auto;
    height: 300px;
    width: 100%;
    background-color: #29313b;
}

.link {
    position: absolute;
    top: 25px;
    right: 20px;
}

.card h5{
    color: #4ecca3;
    font-size: 1.5rem;
}

.card-languages{
    position: absolute;
    bottom: 0 ;
    left: 10;
    color: #54585f;
}

.card-body a {
   color: #54585f;
}

.card-body a:hover {
    color: #4ecca3;
}

.myBtnContainer{
    margin-bottom: 10px;
}

.myBtnContainer button {
    padding: .5vw 3vw;
    font-weight: 500;
}

.myBtnContainer button:hover {
    color: black;
    background-color: #4ecca3
}

.my-active {
    border: 3px solid #4ecca3;
    /* background-color: #4ecca3; */
}

/* Contact */
.contact {
    background-color: #232931;
    min-height: 100vh;
    padding-top: 25px;
}

.contact-text {
    padding-top: 60px;
    text-align: center;
    font-size: 6rem;
    color:#3b3f46;
    position: relative;
    z-index: 0;
}

.contact-text:before{
    right: 0.5em;
    margin-left: -50%;
}

.contact-text:after{
    left: 0.5em;
    margin-right: -50%;
}

.my-email {
    font-size: 20px;
}

.contact-info{
    color: #4ecca3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons{
    padding: 25px 0 0;
}

.icons a{
    color: #dfdfdf;
    text-decoration: none;
}

.fa-linkedin {
    margin-right: 15px;
}

.fa-linkedin:hover, .fa-github-square:hover  {
    color: #4ecca3;
    cursor: pointer;
}
.contact-form{
    background-color: #232931;
    border: 3px solid #707070;
    color: #dfdfdf;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    width: 70%;
}

.contact-submit {
    background-color: #232931;
    border: 3px solid #707070;
    color: #4ecca3;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    font-size: 20px;
}

input[type=submit]:hover{
    border: 3px solid #4ecca3;
}


input[type=text]:focus, textarea:focus {
    border: 3px solid #4ecca3;
}



/* Footer */
.footer {
    background-color: #232931;
    border-top: 3px solid #4ecca3;
}

.footer p {
    padding: 25px 0 25px;
    margin: auto 0;
    text-align: center;
    color: #dfdfdf;
}

/* Thank You Page */

.thankyou-body {
    overflow: hidden;
}

.thanks-container {
    /* background-color: #252627; */
    /* border: 5px solid #4ecca3; */
    border-radius: 2rem;
    /* box-shadow: 0 0 1.2rem rgba(0, 0, 0, 1); */
    box-shadow: inset 0 0 5000px rgba(0,0,0,.6);
    margin: 250px;
    font-size: 2vw;
    text-align: center;
    line-height: 2;
}

.thanks-title {
    color: #373a3f;
    text-shadow: 2px 0 0 #4ecca3, -2px 0 0 #4ecca3, 0 2px 0 #4ecca3, 0 -2px 0 #4ecca3, 1px 1px #4ecca3, -1px -1px 0 #4ecca3, 1px -1px 0 #4ecca3, -1px 1px 0 #4ecca3;
    z-index: 0;
}

.thanks-body {
    color: #dfdfdf;
    padding-bottom: 25px;
}

.return-btn {
    background-color: #232931;
    border: 3px solid #707070;
    color: #dfdfdf;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 22px;
}

.return-btn:hover{
    border-color: #4ecca3;
    color: #4ecca3;
    cursor: pointer;
}


#error-message {
    margin: 20px auto 10px;
    padding: 10px;
    color: #fe8b8e;
    border-radius: 10px;
    width: 69%;
    text-align: center;
    font-size: 20px;
    transition: all 1s ease;
}


/*  Media Queries */

@media (max-width: 1290px){

    .card-title {
        width: 85%;
    }

    .card h5{
        font-size: 1.5rem;
    }

    .card p{
        font-size:.9rem;
    }

}

@media (max-width: 1110px) {
    
    /*HOME */

    .home-text{
        width: 800px;
        height: auto;
    }


    .name {
        font-size: 4.5rem;
    }

    .job{
        width: 100%;
        font-size: 2rem
    }

    /* ABOUT */

    .about-text{
        font-size:5rem ;
    }

    .about-me-info {
        font-size: 1rem;
    }

    /* PROJECTS */

    .project-text {
        font-size: 5rem;
    }

    .card-holder{
        margin-right: 100px;
        width: 800px;
    } 

    .card-title {
        width: 85%;
    }

    /* .card h5{
        font-size: 1.1rem;
    }

    .card p{
        font-size:.76rem;
    } */

    /* CONTACT */

    .contact-text{
        font-size: 5rem;
    }

    .my-email{
        font-size: 1.25rem;
    }
    
    /* Thank You Page */

    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.5rem;
    }

    .return-btn {
        font-size: 21px;
    }
}



@media (max-width: 1000px){
    .home-text{
        width: 100%;
        height: auto;
    }
    .project-text:before,
    .project-text:after {
        width: 0px;
    }

    .about-text:before,
    .about-text:after {
        width: 0px;
    }

    .contact-text:before,
    .contact-text:after {
        width: 0px;
    }
 
    .card h5{
        font-size: 1.3rem;
    }

    .card p{
        font-size:.8rem;
    }

    /* CONTACT */


    .my-email{
        font-size: 1.15rem;
    }

    .contact-form{
        font-size: 18px;
        width: 75%;
    }
    
    .contact-submit {
        padding: 10px;
        font-size: 18px;
    }
}

@media (max-width: 790px) {


    /*HOME */
    .container-home{
        width:100%;
    }

    .home-text{
        padding-left: 100px;
        width: 100%;
        height: auto;
    }

    .hello{
        font-size:1rem;
    }

    .name {
        font-size: 4rem;
    }

    .job{
        width: 100%;
        font-size: 1.5rem
    }

    /* ABOUT */

    .about-text{
        font-size:5rem ;
    }

    .about-me-info {
        font-size: 1rem;
    }

    .image{
        width:400px;
    }

    /* PROJECTS */
    .matrix{
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
    }
    .project-text {
        font-size: 5rem;
    }

    .card-holder {
        width: 500px;
        margin-left: 100px;
    } 

    .card-title {
        width: 85%;
    }

    .card h5{
        font-size: 1.3rem;
    }

    .card p{
        font-size:.9rem;
    }

    /* CONTACT */
    
    .my-email{
        font-size: 1rem;
    }

    .contact-form{
        font-size: 17px;
        width: 75%;
    }
    
    .contact-submit {
        padding: 10px;
        font-size: 17px;
    }

    /* Thank You Page */

    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.5rem;
    }

    .return-btn {
        font-size: 21px;
    }
}


@media (max-width: 576px) {

     /*HOME */

    .home-text{
        text-align: center;
        padding:0px;
    }

    .home-text h4{
        font-size: 1rem;
    }

    .name {
        font-size: 3rem;
    }

    .job{
        width: 100%;
        text-overflow: ellipsis;
        white-space: pre;
        font-size: 1.25rem
    }

    /* ABOUT */

    .about-text{
        margin-top: 50px;
        font-size:3.5rem ;
    }

    .about-me-info {
        padding-top: 20px;
        font-size: 1rem;
    }

    .image{
        width:400px;
    }

    /* PROJECTS */
    .matrix{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .project-text {
        font-size: 3.5rem;
    }

    .card-title {
        width: 85%;
    }

    .card h5{
        font-size: 1.35rem;
    }

    .card p{
        font-size:.9rem;
    }

    .card{
        height:350px;
        width: 350px;
    }

    /* CONTACT */
    .contact-text{
        font-size: 5rem;
    }

    .my-email{
        font-size: 1.1rem;
    }

    .contact-form{
        font-size: 14px;
        width: 75%;
    }
    
    .contact-submit {
        padding: 10px;
        font-size: 14px;
    }

    /*Mobile-Thank You Page*/
    .thanks-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 1.2rem;
    }

    .thanks-body p{
        font-size: 18px;
        padding-top: 20px;
    }
    .return-btn {
        font-size: 15px;
    }

}

@media (max-width: 400px) {
    .card-holder{
        width: 75px;
        position: relative;
        right: 67px;
    }

    .card-title {
        width: 85%;
    }

    /* .card h5{
        font-size: 1rem;
    }

    .card p{
        font-size: 12px;
    } */

    /* CONTACT */
    .contact-form{
        font-size: 11px;
        width: 80%;
    }
    
    .contact-submit {
        padding: 10px;
        font-size: 11px;
    }
}